.text-center{
	text-align: center;
}

.user-input{
	margin-left: 37%;
	margin-top: 40px;
}

.name-pwd{
	margin-right: 20px;
	font-size: 20px;
	font-weight: bolder;
}

.marginLeftRight{
	margin-left: 7%;
	margin-right:7%;
}

.marginTBLR{
	margin: 30px 10px 0px 10px;
}

.error{
	color: red;
}

.item-width{
	margin-top: 20px;
	width: 21%;
	margin-right: 2%;
	margin-left: 2%;
	display: inline-block;
}

.submitButton{
	margin-left: 47%;
	margin-top: 20px;
	display: inline-block;
}

.marginRight{
	margin-right: 50px;
}

.text-ellipsis{
	white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
